.difference_text{
    color: white;
    border-radius: 5px;
    padding: 1.5%;
    background: linear-gradient(to bottom, #e84e40 0%, #dd191d 100%);
}
.margin_text_bootom{
    font-size: 1em;
    margin-bottom: 1em;

}

/*.act{
    background-color: red;
}*/

